
 
  
  
 
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="300px">
      <div class="logo"></div>
      <ul nz-menu nzTheme="dark" nzMode="inline">
        <li nz-menu-item>
          <a routerLink="requests/add" class="button">Добавить запись успеваемости</a>
        </li>
        <li nz-menu-item>
          <a routerLink="requests" class="button">Просмотр всех записей</a>

        </li>
        <li nz-menu-item>
          <a routerLink="need-amount" class="button">Рассчет</a>

        </li>
       
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-content style="min-height: 100vh;">
        <div class="container">
          <router-outlet></router-outlet>
        </div>

      </nz-content>
    </nz-layout>
  </nz-layout>

