
<nz-layout>
  <nz-header>
    <div class="container">

      <ul nz-menu nzTheme="dark" nzMode="horizontal">
        <li nz-menu-item>
        <a routerLink="requests/add" class="button">Добавить запись</a>
      </li>
      <li nz-menu-item>
        <a routerLink="requests" class="button">Просмотр всех записей</a>

      </li>
      <li nz-menu-item>
        <a routerLink="need-amount" class="button">Расчет</a>
        
      </li>
      
    </ul>
  </div>
  </nz-header>
  <nz-content style="min-height: 100vh;">
    <div class="container">
      <router-outlet></router-outlet>
    </div>

  </nz-content>
</nz-layout>
  
  

