@import '/src/styles.scss';

.wrapper {
  max-width: 800px;
  border-radius: 15px;
  margin-bottom: 10px;

}

.form {
  & div {
    & label {
      display: block;
      margin-bottom: 5px;
    }
  }
}