
<div class="wrapper">
  <form nz-form [formGroup]="noteForm" class="form" (ngSubmit)="save()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Номер рейса</label>
          <input type="text" formControlName="flightNumber" nz-input />

        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Маршрут</label>
          <input type="text" formControlName="course" nz-input />
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Марка самолета</label>
      <input type="text" formControlName="planeBrand" nz-input />
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Общие стоимостные затраты на рейс(руб.)</label>
          <input type="text" formControlName="expenses" nz-input />
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Количество пассажиров</label>
          <input type="text" formControlName="passengersCount" nz-input  nz-tooltip/>
        </div>
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary">Добавить</button>
  </form>
</div>



<ng-template #error>
</ng-template>