
<div class="wrapper">
  <form nz-form [formGroup]="noteForm" class="form" (ngSubmit)="save()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Шифр группы</label>
          <input type="text" formControlName="groupCode" nz-input />

        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Шифр дисциплины</label>
          <input type="text" formControlName="courseCode" nz-input />
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Количество отличных оценок</label>
      <input type="text" formControlName="fivesQuantity" nz-input />
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Количество хороших оценок</label>
          <input type="text" formControlName="foursQuantity" nz-input />
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Количество удовлетворительных оценок</label>
          <input type="text" formControlName="threesQuantity" nz-input  nz-tooltip/>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Количество неудовлетворительных оценок</label>
          <input type="text" formControlName="twosQuantity" nz-input  nz-tooltip/>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Количество пропущенных лекций</label>
          <input type="text" formControlName="missedLectionsQuantity" nz-input  nz-tooltip/>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Количество пропущенных практических</label>
          <input type="text" formControlName="missedPracticesQuantity" nz-input  nz-tooltip/>
        </div>
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary">Добавить</button>
  </form>
</div>



<ng-template #error>
</ng-template>