<div class="wrapper">
    <form [formGroup]="needAmountForm" class="form">
      <div>
        <label for="">Шифр группы</label>
        <input type="text" formControlName="groupCode" nz-input />
      </div>
      <div>
        <label for="">Средний балл</label>
        <input type="text" formControlName="averageGrade" nz-input />
      </div>
      <div>
        <label for="">Всего пропущено занятий</label>
        <input type="text" formControlName="totalMissedLectionsAndPractices" nz-input />
      </div>
      <div>
        <label for="">Всего пропущено лекций</label>
        <input type="text" formControlName="totalMissedLections" nz-input />
      </div>
      <div>
        <label for="">Всего пропущено практических занятий</label>
        <input type="text" formControlName="totalMissedPractices" nz-input />
      </div>
    </form>
  </div>
  