<div class="wrapper">
  <form nz-form [formGroup]="noteForm" class="form">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Название театра</label>
          <input type="text" formControlName="theatreName" nz-input />

        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">ФИО главного режиссера</label>
          <input type="text" formControlName="producerFIO" nz-input />
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">ФИО актера</label>
      <input type="text" formControlName="actorFIO" nz-input />
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Звание</label>
          <input type="text" formControlName="grade" nz-input />
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Численность группы</label>
          <input type="text" formControlName="groupCount" nz-input  nz-tooltip/>
        </div>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzErrorTip]="error">
        <div>
          <label for="">Тарифная ставка</label>
          <input type="text" formControlName="salary" nz-input  nz-tooltip/>
        </div>
      </nz-form-control>
    </nz-form-item>
    <button nz-button nzType="primary" [disabled]="!noteForm.valid" (click)="confirmEdit()">Редактировать</button>
    <button nz-button nzType="primary" (click)="confirmDelete()">Удалить</button>

  </form>
</div>




<ng-template #error>
</ng-template>
